body {
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: -apple-system, 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  height: 100%;
  margin-left: 15px;
  margin-right: 15px;
}
